/* Global Styles */
body {
    font-family: 'Arial', sans-serif;
  }
  
  .hero {
    background: url('../img/hero-bg.jpg') no-repeat center center/cover;
    color: white;
    padding: 100px 0;
  }
  
  .mission, .projects, .get-involved {
    margin-top: 50px;
  }
  
  /* Form Styles */
  form {
    margin-top: 20px;
  }
  