{% load static %}
<section class="welcome_section layout_padding">
    <div class="container-fluid">
        {% for about in page_obj %}
        <div class="row align-items-center welcome-row fade-in">
            {% if forloop.counter|divisibleby:2 %}
            <!-- Even row: Text left, Image right -->
            <div class="col-md-6">
                <div class="welcome_detail slide-in-left">
                    <h3 class="welcome-heading">Welcome</h3>
                    <h2 class="welcome-title">{{ about.title }}</h2>
                    <p class="welcome-description">{{ about.description|slice:":150" }}</p>
                    <div class="welcome_detail-btn">
                        <a href="{% url 'about_detail' about.pk %}" class="btn btn-primary btn-animated">
                            <span>Read More</span>
                            <img src="{% static 'images/arrow.jpeg' %}" alt="arrow" class="ml-2 arrow-animated" />
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="welcome_image zoom-in">
                    <img class="img-fluid" src="{{ about.image.url }}" alt="Welcome Image" />
                </div>
            </div>
            {% else %}
            <!-- Odd row: Image left, Text right -->
            <div class="col-md-6">
                <div class="welcome_image zoom-in">
                    <img class="img-fluid" src="{{ about.image.url }}" alt="Welcome Image" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="welcome_detail slide-in-right">
                    <h3 class="welcome-heading">Welcome</h3>
                    <h2 class="welcome-title">{{ about.title }}</h2>
                    <p class="welcome-description">{{ about.description|slice:":150" }}</p>
                    <div class="welcome_detail-btn">
                        <a href="{% url 'about_detail' about.pk %}" class="btn btn-primary btn-animated">
                            <span>Read More</span>
                            <img src="{% static 'images/arrow.jpeg' %}" alt="arrow" class="ml-2 arrow-animated" />
                        </a>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
        {% empty %}
        <p>No content available at the moment</p>
        <hr>
        {% endfor %}
    </div>
</section>
