{% load static %}
<section id="staff" class="py-5">
    <div class="container">
        <!-- Title and Subtitle -->
        <div class="row text-center mb-5">
            <div class="col-12">
                <h2 class="section-title display-4 font-weight-bold">Meet Our Experts</h2>
                <p class="section-subtitle text-muted">Our team of forensic specialists</p>
            </div>
        </div>
        
        <!-- Staff Cards -->
        <div class="row">
            {% for member in members %}
            <!-- Staff Member -->
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="card staff-card h-100 shadow-sm">
                    <div class="card-img-wrapper">
                        <img src="{{ member.image.url }}" class="card-img-top" alt="{{ member.name }}">
                    </div>
                    <div class="card-body text-center">
                        <h5 class="card-title">{{ member.name }}</h5>
                        <p class="card-text text-primary">{{ member.position }}</p>
                        <p class="card-text"><small class="text-muted">{{ member.exp }} + years of experience</small></p>
                        <a href="{{ member.member_url }}" class="btn btn-outline-primary" target="_blank">View Profile</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div> 
</section>


